@charset "utf-8";
/* 	*****************************************************************
   	Project Name: XXXXXXXXXXXXXXXX
   	Version: 1.0 | XXXXXXXXXXX
   	Author: 4Sale
	Author URI: http://www.4sale.cl   
   	Staff 4Sale:
   		Designer: Nombre del dise침ador ac치
   		Producer: Nombre del productor ac치
   		Engineer: Nombre del ingeniero ac치
   	Base layout: 1.1.0.20131111
****************************************************************** */
body{
	background-color: #F00;
}
